body {
    margin: 0px;
    height: 200vh; 
    animation: colorChange 5s ease-in-out 0s infinite alternate; 
}
@font-face {
    font-family: "miFuente"; 
    src: url(./font/Robota.otf);
}

h1{
    font-family: 'miFuente' ;
    font-size: 30px;
    text-align: center;
    margin: 2px;
    color: white;
}
.button{
    background-color: rgb(228, 86, 86);
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    border: 0px;
    color:white;
    font-style: italic;
    display: none;
}
.images {
    display: flex;
    flex-flow: row nowrap;
    width: 100%; 
    margin-top: 60px;
}
.image{ 
    width: 100%;
    height: 200px;
    align-items: center;
}
.forest{
    background: url(img/img3.jpg) no-repeat;
    box-shadow: 00px -20px 0px rgba(255, 255, 255, 0.5), 
                0px -20px 0px rgba(255, 255, 255, 0.5) inset;
    background-size: cover;
}

.office{
    background: url(img/img4.jpg) no-repeat;
    box-shadow: 00px -20px 0px rgba(255, 255, 255, 0.5), 
    0px -20px 0px rgba(255, 255, 255, 0.5) inset;
    background-size: cover;
}

.scroll{
    width: 100%; 
    text-align: center;

}
.roundedImage{
    width: 250px;
    height: 250px;
    margin: 160px;
    border-radius: 50% ;
    border: 20px solid white;
}

@media screen and (max-width: 760px) {
    .images{
        flex-flow: column wrap;
        height: 900px;
        align-items: center;
        overflow: hidden;
        width: 100%;
        transition: all 5s;
    }

    .button{
        display: block;
    }

    .button:hover{
        width: 200px;
        height: 200px;
        margin: -50px;
        color: #b689a6;
        border-radius: 50%;
    }
}

@keyframes colorChange {
    0% {
        background: linear-gradient(45deg, #d996c1, #e197c7, #ed95ce, #f78fd2); /* Gradiente inicial */
    }

    25% {
        background: linear-gradient(45deg, #f78fd2, #b689a6, #e197c7,  #ed95ce); /* Gradiente a los 25% */
    }

    50% {
        background: linear-gradient(45deg, #ed95ce, #f78fd2, #b689a6, #e197c7); /* Gradiente a los 50% */
    }

    75% {
        background: linear-gradient(45deg, #e197c7, #ed95ce, #f78fd2,#b689a6); /* Gradiente a los 75% */
    }

    100% {
        background: linear-gradient(45deg, #b689a6, #e197c7, #ed95ce, #f78fd2); /* Gradiente final */
    }
}