body {
    margin: 0;
    background: #111;
    color: white;
    font-family: sans-serif;
  }
  
  /* Contenedor fijo tipo “hero” */
  .scroll-video {
    height: 100vh;
    position: sticky;
    top: 0;
    /* overflow: hidden; */
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  
    transform: scale(1.05);
    transform-origin: center;
  }
  
  .content {
    height: 100vh;
    padding: 40px;
    
  }
  