@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}


body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    height: 240vh;
}

header {
    display: flex;
    grid-column: 1 / 13;
    background-color: transparent;
    padding: 20px;
    margin: 50px;
    text-align: center;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    grid-row: 1 / 2;
}

ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 50px;
}

main {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
    height: 100vh;
}

img {
    width: 80%;
    height: auto;
}


.hero__content {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 45% 45%;
}


.hero__content h1 {
    color: #074d69;
    font-size: 3rem;
    text-align: start;
    padding-top: 200px;

}

h1,
h2 {
    font-family: 'Fraunces', serif;
}


.hero_text {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#logo {
    width: auto;
    height: 100px;
}

.hero_cta {
    grid-column: 3/5;
    grid-row: 3/4;
}

button {
    padding: 15px 15px;
    font-size: 1rem;
    color: white;
    background-color: #074d69;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.benefits_content {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #e0f2f7;
    height: 100vh;
    color: #074d69;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 2rem;
    padding: 50px;
}

p {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 500;
}

.gamificado_text {
    grid-column: 2 / 7;
    grid-row: 1 / 2;
}

.gamificado_icon {
    grid-column: 9 / 12;
}

.comunidad_text {
    grid-column: 8 / 12;
    grid-row: 2 / 3;
}

.comunidad_icon {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}

.personalizable_text {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
}

.personalizable_icon {
    grid-column: 9 / 12;
    grid-row: 3 / 4;
}

footer {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    background-color: #074d69;
    height: 40vh;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 50px 0;
}

.footer_contacto {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    gap: 10px;
    width: 30%;
    align-items: center;
}

footer nav {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    text-align: center;
    line-height: 1.8;
}

.footer__social {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.footer__social div a{
    margin: 5px;
    text-decoration: none;
    color: white;
}

i{
    font-size: 2rem;
}

footer > p{
    margin-top: 50px;
}